body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;

}
.header{
        border-bottom: 1px solid #e7e9fc;
}

.header-container{
        display: flex;
        align-items: center;
}
.navigation {
        display: flex;
        align-items: center;
}
button{
        cursor: pointer;
        background: #4d5ae5;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-part{
   color: #2e2f42;
}
.nav-list{
        display: flex;
        gap: 40px;
}
.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px;
        display: block;
}
.nav-link:hover,
.nav-link:focus{
    color:#404bbf;
}
.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
        display: flex;
        gap: 40px;
}
.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus{
   color:#404bbf;
}
/*---Section Hero---*/
.hero{

        background: #2e2f42;
}
.main-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
}
.buy-now-button{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        
}
.buy-now-button:hover,
.buy-now-button:focus{
       background-color: #404BBF;
}
/*---Advantages section---*/
.list-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advantages-list-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---Our Team---*/
.our-team{
       background-color: #f4f4fd;
}
.team-list-item{
        background-color: #FFFFFF
}
.team{
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       text-align: center;
       color: #2e2f42;
       background-color: #f4f4fd;
}
.team-list-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-list-text{

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*---Our Portfolio---*/
.portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.portfolio-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
/*---Section footer---*/
.section-footer {
        background-color: #2e2f42;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo-title {
        color: #f4f4fd;

}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #2e2f42;
}